$color-background: #F5F0F5;
$color-foreground: #8B138B;
$color-hover: #BC20BC;

$sans-serif: Montserrat, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

$break-extra-small: 575px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

html,
body {
    color: $color-foreground;
    margin: 1rem;
    padding: 0;
}

html {
    font-family: $sans-serif;
    font-size: 16px;
    overflow-y: auto;
}

body {
    background-color: $color-background;
}

a {
    @include transition(color .2s ease-out);
    color: $color-foreground;

    &:hover {
        color: $color-hover;
    }
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

@media screen and (max-width: $break-large) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 2.5rem;
    }
}

img.portrait {
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid $color-foreground;
    margin: 2em 3em;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.column {
    flex: 1;
}

main {
    .block {
        display: flex;
    }

    .block.introduction {
        margin-top: 20vh;
        min-height: calc(100vh - 20vh);
    }

    .column.left {
        text-align: end;
    }

    .column.right {
        h1 {
            margin-left: -10px; /* Correction for margin of leftmost character. */
            margin-bottom: 0.4em;
        }

        h2 {
            margin-left: -4px; /* Correction for margin of leftmost character. */
            margin-top: 0;
        }
    }

    @media screen and (max-width: $break-large) {
        .block {
            flex-direction: column;
        }

        .block.introduction {
            margin-top: 0;
        }

        .column.left {
            text-align: center;
        }

        .column.right h1 {
            margin-top: 0;
        }

        img.portrait {
            margin: 0;
        }
    }
}

footer {
    display: flex;
    margin-top: 3rem;
    font-size: 0.75rem;

    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }
}
