$color-foreground: #8B138B;
$color-hover: #BC20BC;

$break-extra-small: 575px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

html {
    font-family: 'Noticia Text', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    min-height: 100%;
}

.background {
    background-image: url("/images/background.webp");
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;

    &.background2 {
        background-image: url("/images/background2.webp");
    }
}

a {
    @include transition(color .2s ease-out);
    color: $color-foreground;

    &:hover {
        color: $color-hover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;

    .icons {
        display: flex;
        flex-flow: row wrap;

        .icon {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 54px;
            justify-content: center;
            margin: 6px;
            text-decoration: none;
            width: 54px;

            i {
                color: white;
                font-size: 1.5em;
            }

            &.red {
                background-color: #ff5555;

                &:hover {
                    background-color: #ff2222;
                }
            }

            &.violet {
                background-color: #bb66cc;

                &:hover {
                    background-color: #aa44aa;
                }
            }

            &.navy {
                background-color: #000033;

                &:hover {
                    background-color: #111144;
                }
            }

            &.aqua {
                background-color: #66ccdd;

                &:hover {
                    background-color: #44aabb;
                }
            }
        }
    }

    .heading {
        align-items: flex-end;
        display: flex;
        flex-flow: column;
        position: relative;

        .title {
            font-family: 'Sacramento', cursive;
            font-size: 4rem;
            line-height: .8em;
            margin-top: .4em;
        }

        .subtitle {
            font-family: 'IM Fell English', serif;
            font-size: 1.5rem;
            padding-right: .8em;
        }

        .decoration {
            bottom: -125px;
            display: none;
            position: absolute;
            right: -80px;
            transform: scale(-1, -1);
        }
    }

    @media screen and (min-width: $break-large) {
        flex-flow: row;
        margin-left: 10rem;
        margin-right: 10rem;

        .heading .decoration {
            display: block;
        }
    }
}

main {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 1rem;

    article {
        margin-left: 1rem;
        margin-right: 1rem;

        &:not(:first-child) {
            margin-top: 1.5rem;
        }

        .article-title {
            font-family: 'La Belle Aurore', cursive;
            font-size: 3rem;
            margin-left: .5rem;
        }

        a {
            color: #150215;
            font-weight: bold;
            text-decoration: none;
        }

        .article-body {
            background-color: rgba(255,255,255,0.75);
            font-size: 1.25rem;
            padding: .5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            p {
                margin: 0;
                text-align: justify;

                &:not(:first-of-type) {
                    margin-block-start: 2rem;
                }
            }

            .featured-image {
                display: block;
                height: 11rem;
                margin-bottom: .5rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
            }

            .muted {
                color: #888;
            }

            .article-gallery {
                display: grid;
                grid-template-rows: 2.5fr 1fr;
                height: 450px;
                overflow: hidden;

                img {
                    display: block;
                    max-width: 100%;
                }

                .gallery-nav {
                    display: flex;
                    grid-row-start: 2;
                    overflow-x: auto;
                    overflow-y: hidden;

                    a {
                        width: 100px;
                        display: flex;
                    }
                    
                    .gallery-nav-img {
                        filter: saturate(0);
                        object-fit: cover;
                        transition: 0.3s ease all;

                        &:hover {
                            filter: saturate(1);
                            transform: scale(1.05);
                        }
                    }
                }

                .gallery {
                    display: flex;
                    overflow-x: auto;
                    overflow-y: hidden;
                    scroll-behavior: smooth;
                    scroll-snap-type: x mandatory;

                    .gallery-img {
                        margin-bottom: 10px;
                        height: 100%;
                        object-fit: cover;
                        scroll-snap-align: start;
                    }
                }
            }
        }

        &.single {
            .article-title {
                font-family: 'IM Fell English', serif;
            }

            .article-body p {
                text-align: center;
            }
        }
    }

    @media screen and (min-width: $break-large) {
        padding-left: 5rem;
        padding-right: 5rem;

        &.indented {
            padding-left: 30%;
        }

        article {
            margin-left: 4rem;
            margin-right: 4rem;

            .article-body {
                .clear {
                    clear: both;
                }

                .featured-image {
                    display: inherit;
                    float: left;
                    margin-left: inherit;
                    margin-right: .5rem;
                }

                .article-gallery {
                    float: right;
                    margin-left: 1rem;
                    width: 50%;
                }
            }
        }

        article:nth-child(even) .article-gallery {
            float: left;
            margin-left: inherit;
            margin-right: 1rem;
        }
    }

    .block {
        align-items: center;
        align-self: center;
        background-color: #D1B6DF;
        display: flex;
        justify-content: center;
        padding: 1rem;
        position: relative;

        img.portrait {
            border: 1rem solid #e3d4e8;
            height: auto;
            max-width: 480px;
            width: calc(100vw - 6rem);

            @media screen and (min-width: $break-large) {
                width: calc(50vw + 4rem);
            }
        }

        .decoration {
            bottom: -3rem;
            margin-top: -2rem;
            position: absolute;
            right: 1rem;
            transform: scale(-1, -1);
            
            &.reverse {
                bottom: unset;
                left: 0;
                right: unset;
                top: -1rem;
                transform: scale(-1, 1);
            }
        }
    }
}

footer {
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

    .links {
        display: flex;
        flex-flow: row wrap;
        font-family: 'IM Fell English', serif;
        font-size: 1.5rem;
        justify-content: space-between;

        .decoration {
            display: none;
            margin-top: -2rem;
            
            &.reverse {
                transform: scale(-1, 1);
            }
    
            @media screen and (min-width: $break-large) {
                display: block;
            }
        }

        .link {
            background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='19.499 19.5 161.001 161' viewBox='19.499 19.5 161.001 161' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape' role='img'%3E%3Cg%3E%3Cpath d='M174.791 102.951l2.06-3.315c7.054-11.348 3.573-26.267-7.776-33.322l-3.314-2.06a24.197 24.197 0 0 1-10.79-15.051l-.887-3.801c-3.036-13.013-16.048-21.101-29.062-18.065l-3.8.887a24.192 24.192 0 0 1-18.272-3.014l-3.314-2.06c-11.35-7.054-26.269-3.574-33.323 7.776l-2.06 3.314a24.195 24.195 0 0 1-15.052 10.789l-3.8.887C32.388 48.953 24.3 61.965 27.336 74.979l.887 3.8a24.192 24.192 0 0 1-3.014 18.272l-2.06 3.314c-7.054 11.348-3.574 26.268 7.776 33.322l3.314 2.06a24.197 24.197 0 0 1 10.79 15.051l.887 3.8c3.036 13.013 16.048 21.101 29.062 18.065l3.799-.887a24.192 24.192 0 0 1 18.272 3.014l3.315 2.061c11.35 7.054 26.269 3.573 33.323-7.776l2.06-3.314a24.192 24.192 0 0 1 15.052-10.789l3.8-.887c13.013-3.036 21.102-16.047 18.065-29.062l-.887-3.8a24.2 24.2 0 0 1 3.014-18.272z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            color: white;
            height: 7.5rem;
            line-height: 7.5rem;
            margin-left: .75rem;
            margin-right: .75rem;
            text-align: center;
            text-decoration: none;
            width: 7.5rem;
        }
    }

    .credit {
        align-items: flex-end;
        display: flex;
        flex-flow: column;
        font-size: .8rem;
        text-align: right;
    }
    
    @media screen and (min-width: $break-large) {
        margin-left: 10rem;
        margin-right: 10rem;

        .credit {
            flex-flow: row wrap;
            justify-content: flex-end;
        }
    }
}
