{{ define "main" }}
<div class="background"></div>
<main role="main">
    <article class="single">
        <h3 class="article-title">{{.Content}}</h3>
    </article>
    <div class='embedsocial-instagram' data-ref="9eaafaf171dc07d42d77e6f026cae9c7ad90a8ab"></div>
</main>
<script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>
{{ end }}