{{ define "main" }}
<main>
    <div class="block introduction">
        <div class="column"></div>
        <div class="column right">
            <h1>Oops!</h1>
            <h2>There's no page here.</h2>
            <p>Maybe you made a mistake typing. That's okay. Try going back to my <a href="/">homepage</a>.</p>
            <p>If you followed a broken link to get here, though, please <a href="mailto:wil.stead@gmail.com">tell my Daddy</a> so he can fix it.</p>
        </div>
    </div>
</main>
{{ end }}