{{ define "main" }}
<main>
    <div class="block introduction">
        <div class="column left">
            <img class="portrait" alt="Portrait" src="https://lh3.googleusercontent.com/YkJTi3PY2YVlYNd0vdrBmjkaSNMk2QtRzbl4rbMgrm1PsqFA5aZU-5osfoKVOvHFZg31KqtM2jmfbQu7ixlDgFToMVCi4Q6BkzCG0QujXcrYtlLgn1YgXLIO280MwKOZCXuBF_K2bAg=w300" />
        </div>
        <div class="column right">
            <h1>Hello!</h1>
            <h2>I'm Violet.</h2>
            <p>My Mommy's making me a fancy website, with lots of pretty pictures. But until it's ready, my Daddy put this one here for me.</p>
            <div class="links">
                <a rel="me" href="https://www.instagram.com/violetjsquish/" title="Follow me on Instagram!">
                    <span class="fab fa-instagram"></span>
                </a>
            </div>
        </div>
    </div>
</main>
{{ end }}
