:root {
    --tavenem-dark-color-link: #ed7ded;
    --tavenem-dark-color-link-hover: #f09ef0;
    --tavenem-light-color-link: #8b138b;
    --tavenem-light-color-link-hover: #bc20bc;
    --tavenem-font-family-title: 'La Belle Aurore';
}
html { height: 100%; }
body { min-height: 100%; }
.red-icon {
    background-color: #ff5555;
}
    .red-icon:hover {
        background-color: #ff2222;
    }
.violet-icon {
    background-color: #bb66cc;

}
    .violet-icon:hover {
        background-color: #aa44aa;
    }
.navy-icon {
    background-color: #000033;
}
    .navy-icon:hover {
        background-color: #111144;
    }
.aqua-icon {
    background-color: #66ccdd;
}
    .aqua-icon:hover {
        background-color: #44aabb;
    }
.heading {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    margin-inline-start: auto;
    position: relative;
}
    .heading .title {
        font-family: 'Sacramento', cursive;
        font-size: 4rem;
        line-height: .8em;
        margin-top: .4em;
    }
    .heading .subtitle {
        font-family: 'IM Fell English', serif;
        font-size: 1.5rem;
        padding-right: .8em;
    }
    .heading .decoration {
        bottom: -125px;
        display: none;
        position: absolute;
        right: -80px;
        transform: scale(-1, -1);
    }
#bg-container {
    background-image: url('../images/background.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: .25;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}
.hero {
    align-items: center;
    align-self: center;
    background-color: #D1B6DF;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
}
    .hero img.portrait {
        border: 1rem solid #e3d4e8;
        height: auto;
        max-width: 480px;
        width: calc(100vw - 6rem);
    }
    @media screen and (min-width: 1024px) {
        .hero img.portrait {
            width: calc(50vw + 4rem);
        }
    }
    .hero .decoration {
        bottom: -3rem;
        margin-top: -2rem;
        position: absolute;
        right: 1rem;
        transform: scale(-1, -1);
    }
        .hero .decoration.reverse {
            bottom: unset;
            left: 0;
            right: unset;
            top: -1rem;
            transform: scale(-1, 1);
        }
section, article {
    clear: both;
    margin-top: 3rem;
}
.section-header {
    display: flex;
    flex-flow: row wrap;
    font-family: 'IM Fell English', serif;
    font-size: 1.5rem;
    justify-content: space-between;
}
    .section-header .decoration {
        display: none;
        margin-top: -2rem;
    }
        .section-header .decoration svg path {
            fill: currentColor;
        }
        .section-header .decoration.reverse {
            transform: scale(-1, 1);
        }
    @media screen and (min-width: 1024px) {
        .section-header .decoration {
            display: block;
        }
    }
    .section-header .section-title {
        background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='19.499 19.5 161.001 161' viewBox='19.499 19.5 161.001 161' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape' role='img'%3E%3Cg%3E%3Cpath d='M174.791 102.951l2.06-3.315c7.054-11.348 3.573-26.267-7.776-33.322l-3.314-2.06a24.197 24.197 0 0 1-10.79-15.051l-.887-3.801c-3.036-13.013-16.048-21.101-29.062-18.065l-3.8.887a24.192 24.192 0 0 1-18.272-3.014l-3.314-2.06c-11.35-7.054-26.269-3.574-33.323 7.776l-2.06 3.314a24.195 24.195 0 0 1-15.052 10.789l-3.8.887C32.388 48.953 24.3 61.965 27.336 74.979l.887 3.8a24.192 24.192 0 0 1-3.014 18.272l-2.06 3.314c-7.054 11.348-3.574 26.268 7.776 33.322l3.314 2.06a24.197 24.197 0 0 1 10.79 15.051l.887 3.8c3.036 13.013 16.048 21.101 29.062 18.065l3.799-.887a24.192 24.192 0 0 1 18.272 3.014l3.315 2.061c11.35 7.054 26.269 3.573 33.323-7.776l2.06-3.314a24.192 24.192 0 0 1 15.052-10.789l3.8-.887c13.013-3.036 21.102-16.047 18.065-29.062l-.887-3.8a24.2 24.2 0 0 1 3.014-18.272z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        height: 7.5rem;
        line-height: 7.5rem;
        margin-left: .75rem;
        margin-right: .75rem;
        text-align: center;
        text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
.site-footer {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: auto;
    padding-bottom: .25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    position: relative;
}
.article-title {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3rem;
}
.featured-image {
    display: block;
    height: 11rem;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 19rem;
}
@media (max-width: 768px) {
    .featured-image {
        max-width: 16rem;
    }
}
.article-gallery {
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    height: 450px;
    margin-bottom: 3rem;
    overflow: hidden;
}
    .article-gallery img {
        display: block;
        max-width: 100%;
    }
    .article-gallery .gallery-nav {
        display: flex;
        grid-row-start: 2;
        overflow-x: auto;
        overflow-y: hidden;
    }
        .article-gallery .gallery-nav a {
            width: 100px;
            display: flex;
        }
        .article-gallery .gallery-nav .gallery-nav-img {
            filter: saturate(0);
            object-fit: cover;
            transition: 0.3s ease all;
        }
            .article-gallery .gallery-nav .gallery-nav-img:hover {
                filter: saturate(1);
                transform: scale(1.05);
            }
    .article-gallery .gallery {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
        .article-gallery .gallery .gallery-img {
            margin-bottom: 10px;
            height: 100%;
            object-fit: cover;
            scroll-snap-align: start;
        }
@media screen and (min-width: 1024px) {
    .featured-image {
        display: inherit;
        float: left;
        margin-left: inherit;
        margin-right: .5rem;
    }

    .article-gallery {
        float: right;
        margin-left: 1rem;
        width: 50%;
    }

    article:nth-child(even) .article-gallery {
        float: left;
        margin-left: inherit;
        margin-right: 1rem;
    }
}